<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.ease.im_flutter_sdk_push_xiaomi">
    <permission
        android:name="${applicationId}.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.MIPUSH_RECEIVE" />
    <application>
        <receiver
            android:name="com.ease.im_flutter_sdk_push_xiaomi.xiaomi.XiaomiMessageService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <!--xiaomi version-->
        <meta-data
            android:name="sdk_version_xiaomi"
            android:value="5.9.9" />
    </application>
</manifest>
